<%= form_for(@cocktail) do |form| %>

  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>
    <p>
    <%= form.submit %>
  </p>

<% end %>

  <p>  
    <%= simple_form_for @cocktail do |f| %>
      <%= f.input :name %>
      <%= f.button :submit %>
    <% end %>
  </p>
  
