  
<div class='container mt-4'>
  <h1>Info of cocktail</h1>

  <p>Name: <%= @cocktail.name %></p>

  <% @cocktail.doses.each do |dose| %>
      <p><%= dose.description %> of <%= dose.ingredient.name %>
      <%= link_to "Delete", dose_path(dose), method: :delete, data: { confirm: 'Are you sure?' } %> </p>
  <% end %>

  <p>Description: <%= @cocktail.doses.name %></p>
  
  <%= link_to "Go back", cocktails_path, class: "btn btn-primary" %>
  <%= link_to "Add dose", new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>
</div>